<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrJbElFPM-PkLAS2Nf25il0hykV-J1C7k</string>
	<key>GCM_SENDER_ID</key>
	<string>509672299316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gladagritech</string>
	<key>PROJECT_ID</key>
	<string>glad-agritech</string>
	<key>STORAGE_BUCKET</key>
	<string>glad-agritech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509672299316:ios:f19c32ab9dde9cc8272361</string>
</dict>
</plist>